.hdostav {
	font: 26px Verdana;
	text-transform: uppercase;
	text-align: center;
}
.imgstr {
	margin-top:1px;
	width: 23px;
	height: 25px;
}
.title_del {
	font: 22px Impact;
	text-transform: uppercase;
}
.oplata {
	width: 100px;
	height: 33px;
	margin-bottom: 0px;
}
.dost_text {
	font: 15px Verdana;
    margin-bottom: 20px;
}
.maps_text {
	margin-top: 15px;
	font-size: 15px;
}
.dost_image {
	width: 39px;
	height: 25px;
	margin-left: 2px;
}
/* fieldset  on */
.dleverytaingun { 
  min-width: 17em; 
  padding-left: 12px; 
  padding-right: 15px; 
  border: 2px solid #797676; 
  margin: 3em; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
} 
.mealitykadsets { 
  overflow: hidden; 

  width: 100%; 
  border-color: inherit; 
  } 
.stryconnectivi { 
  float: left; 
  margin-top: 20px;
  margin-left: 4px;
  font-size: 17px; 
  font-weight: bold; 
  color: #0d5f1b; 
} 
.kagkopam { 
  position: relative; 
  left: 3px;  

  display: block; 
  overflow: hidden; 

  border-bottom: 2px solid; 
  border-color: inherit; 
  margin: 25.5px 0 0 0; 
  }

.kagkopam_dost { 
  position: relative; 
  left: 3px;  

  display: block; 
  overflow: hidden; 

  border-bottom: 2px solid; 
  border-color: inherit; 
  margin: 22.5px 0 0 0;
  }   

.content { 
  padding: 1em 0; 
}
/* fieldset  off */