table {width: 100%; border-collapse: collapse;}
table thead tr {color: #ffffff; font-weight: bold; background: #00bf80;}
table thead tr td {border: 1px solid #01ab73;padding: 5px 5px;font-size: 20px;padding: 13px 13px;}
table tbody tr td {border: 1px solid #e8e9eb;padding: 5px 5px;padding: 6px 10px;}
table tbody td a {font-size: 15px}
table tbody tr:nth-child(2n) {background: #f4f4f4;}
table tbody tr:hover {background: #ebffe8;}

/*th {*/
    /*background-color: #8FC73C;*/
    /*padding: 15px 15px;*/
    /*border-radius: 8px;*/
/*}*/
/*tr {*/
    /*background-color: #E0E4E1;*/
/*}*/
/*table, td {*/
    /*border: 1px  #B8B8B8 solid;*/
    /*font-family: Verdana, sans-serif;*/
    /*font-size: 15px;*/
    /*border-spacing: 5px 5px;*/
/*}*/
/*td a {*/
	/*text-decoration: none;*/
	/*color: #462BB2;*/
/*}*/
/*td {*/
	/*color: #462BB2;*/
/*}*/