.hello_user {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:28px;
	line-height:1.2em;
	color:#262626;
	font-weight:normal;
	letter-spacing:-2px;
	float: left;
}
.main_users_menu {
	margin-left: 30px;
	font-size: 16px;
	color: #C7C7C7;
}
.price_sale {
	font-size: 22px;
	color: #6F8EC5;
}
.log {
	position: fixed;
	width: 50px;
	height: 50px;
	right: 1px;
}
.logout {
	position: fixed;
	width: 52px;
	height: 38px;

}
.profile {
	display: block;
	float: right;
	position: relative;
	top: 5px;
	font-size: 14px;
	max-width: 280px;
	max-height: 140px;
}
.profileAvatar {
	width: 65px;
	height: 65px;
	margin-left: 26px;
	margin-bottom: 5px;
}
.sale {
	margin-top:41px;
}
.editP {
	margin-top: 2px;
	margin-left: 20px;
	float: left;
	width: 76px;
	height: 35px;
	position: relative;
}
.editP img {
	width: 84px;
	height: 27px;
}
.exitP {
	margin-left: 20px;
	float: left;
	width: 76px;
	height: 35px;

}
.exitP img {
	width: 84px;
	height: 30px;
}
.profiles {
	margin-left: 20px;
	float: left;
	width: 76px;
	height: 35px;
	position: relative;
}
.profiles img {
	width: 90px;
	height: 30px;
}