.image_tovar {
	float: left;
	margin:15px;
	margin-left: 30px;
	border: 2px solid #f6f6f6;
	width: 350px;
	height: 230px;
	padding:10px;
}
.tovar_week {
	float: left;
	margin-left: 30px;
	border: 2px solid #f6f6f6;
	width: 350px;
	height: 200px;
	padding:10px;
}
.name_tovar {
	width: 450px;
	font: 22px Verdana;
	margin-left: 30px;
	margin-bottom: 10px;
}
.views {
	margin-top:5px;
	font-size: 12px;
	color: #C7C7C7;
}
.composition {
	margin-left: 40px;
    width: 750px;
    font-family: 'Philosopher', sans-serif;
    font-size: 17px;
}
.tex {
    margin-left:40px;
    width: 750px;
    font-family: 'Play', sans-serif;
    font-size: 15px;
}
.text_tovar h3 {
	font-size: 26px;
}
hr {
	margin-left: 32px;
	width: 80%;
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.cat_tovar a{
	font-size: 25px;
	color: #ff9601;
	text-decoration: none;
}
h4 {
	font-size: 15px;
	line-height: 1.2em;
	color:#ff9601;
	margin-bottom: 7px;
	text-align: justify;
}
.main_top_menu {
	margin-top:2px;
	font-size: 14px;
	color: #C7C7C7;
}
.main_top_menu hr {
	margin-left: 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px dotted #ddd;
	width: 100%;
}
.tovar_week_description {
	margin-top:8px;
	margin-left: 29px;
	margin-bottom: 12px;
	font-size: 14px;
	color: #C7C7C7;
}
.tovar_description {
	font-family: "Times New Roman";
	font-size: 14px;
}
.shop {
	margin-right: 85px;
	margin-top: 15px;
}
