.container-contact {
	position: relative;
	top: 6px;
	left: 10px;
	font:21px Times New Roman;
	float: left;
}
.container-zakaz {
	position: relative;
	font:15px Times New Roman;
	top: 12px;
	left: -195px;
	float: right;
}
.input-header {
	border: 2px solid #A5D7EF;
	border-radius: 15px;
	-webkit-border-radius: 15px; //закругление углов (Google Chrome)
   -moz-border-radius: 15px; //закругление углов (FireFox)
   -khtml-border-radius: 15px; //закругление углов (Safari)
   background: #ffffff !important;
   outline: none;
   height: 18px;
   width: 180px;
   font-size: 12px;
   font-family: Tahoma;
}
.input-header:focus {
  	border: 2px solid #FF8A00;
}
.sale_img {
	width: 180px;
	height: 81px;
	position: absolute;
	margin-top: 0px;
	margin-left: 150px;
}
.sale_img_two {
	
	position: absolute;
	width: 180px;
	height: 81px;
}