th {
    background-color: #8FC73C;
    padding: 15px 15px;
    border-radius: 8px;
}
tr {
    background-color: #E0E4E1;
}
table, td {
    border: 1px  #B8B8B8 solid;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    border-spacing: 5px 5px;
}
td a {
	text-decoration: none;
	color: #462BB2;
}
td {
	color: #462BB2;
}