@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.sidebar-fixed {
	height: 100vh;
	width: 270px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	z-index: 1050;
	background-color: #fff;
	padding: 1.5em;
	padding-top:0;
}
.sidebar-fixed .list-group .active {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 5px;
}
.sidebar-fixed .logo-wrapper{
	padding: 1em;
}
.sidebar-fixed .logo-wrapper img {
	min-height: 50px
}
@media (min-width: 1200px) {
	.navbar, .page-footer, main {
		padding-left:270px;
	}
}
@media (max-width: 1199.98px) {
	.sidebar-fixed{
		display: none;
	}
}
.poligon-main {
	height: 100%;
}
.footer-admin {
	margin-top: 30px;
}
.admin-warning {
	color: Red;
}